<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">

		<div class="article-entry">
			<img src="<%- config.root %>img/avatar.png">
			<pre>
				<code>
{
	"id": "Laker Huang",
	"gender": "girl",
	"email": "younglaker8#gmail.com",
	"skills": ["HTML5", "CSS3", "JavaScript", "CoffeeScript", "SASS"],
	"hobbies": ["comic", "Chinese handwriting", "DIY", "NBA", "photography"],
	"social": [
		{
			"Weibo": "http://www.weibo.com/shaojianghu",
			"Github": "https://github.com/younglaker",
			"Wechat": "younglaker8",
			"Lofter": "http://laker24.lofter.com/"
		}
	]
}			
				</code>
			</pre>	
		</div>
  </div>
</section>

<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
  <div id="disqus_thread">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
    <!-- UY END -->
	</div>
</section>