<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">

		<div class="article-entry">
			<img src="<%- config.root %>img/avatar.png">
			<pre>
				<code>
{
	"id": "Laker Huang",
	"gender": "Girl",
	"email": "eW91bmdsYWtlcjgjZ21haWwuY29t",
	"skills": ["HTML5", "JavaScript", "CoffeeScript", "Gulp", "SASS", "Vue.js"],
	"hobbies": ["Comic", "Chinese Calligraphy", "DIY", "NBA", "Photography", "Taekwondo", "Piano"],
	"social": [
		{
			"Github": "https://github.com/younglaker",
			"Weibo": "http://www.weibo.com/shaojianghu",
			"Wechat": "lakerHQ",
			"Lofter": "http://laker24.lofter.com/",
		}
	]
}
				</code>
			</pre>
			<!-- <h2>维护的一些社交账号，欢迎关注：</h2> -->
			<!-- <p><b>微博——<a href="http://weibo.com/u/3316738620" target="_blank">@那年童真官博</a></b>：分享萌娃照、儿童摄影，记录童真童趣。</p> -->
			<!-- <p><b>微店——<a href="http://weidian.com/?userid=212261168" target="_blank">创礼记</a></b>：卖些自己做的手工艺品，现有 <del>手折玫瑰</del>（此业务已被收购）、手写书签。</p> -->
			<!-- <p><b>微信公众号——全球正太萝莉</b>：@那年童真官博 的微信渠道</p> -->
			<!-- <p><b>公众号——创礼记</b>：分享有趣的手工艺艺术、分享教程、介绍手艺人故事、生活创意等。</p> -->
			<!-- <p><b>微信公众号——图饭</b>：用长图说故事。节选精彩的影片片段，讲述有味道的人生哲理，或喜或悲。我有故事，你有酒吗？</p> -->
		</div>
  </div>
</section>

<section id="comment">
  <h1 class="title"><%= __('评论框组件不稳定，有事请联系V信 lakerHQ (请备注来自博客)') %></h1>
  <div id="disqus_thread">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
    <!-- UY END -->
	</div>
</section>