<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">
		<div class="blogrolls-exchange">
            <h2>Welcome to exchange blogroll, 交换友链</h1>
			<p>Format:name, link, introduce,  category.</p>
			<p>格式： 名称，链接，简介，类别</p>
			<p>Example:Laker'blog, http://laker.me/blog/, Code the world, Front-end</p>
			<p>举例：Laker'blog, http://laker.me/blog/, 进击的程序媛, Front-end</p>
		</div>
		<h2 class="blogrolls-title">Front-End</h2>
		<ul class="blogrolls-list">
		  <li class="blogrolls-list-item">
		  	<a href="http://www.cnblogs.com/younglaker/">My old blog</a> -- <span>Record my way.</span>
		  </li>
		  <li class="blogrolls-list-item">
		  	<a href="http://heeroluo.net/" title="Heeroluo">Heeroluo</a> -- <span>Heeroluo' blog.</span>
		  </li>
		</ul>
		<h2 class="blogrolls-title">IOS</h2>
		<ul class="blogrolls-list">
		  <li class="blogrolls-list-item">
		  	<a href="http://blog.mexiqq.com" title="Mexi 十四">Mexi 十四</a> -- <span>MexiQQ's World.</span>
		  </li>
		</ul>
		<h2 class="blogrolls-title">Back-end</h2>
		<ul class="blogrolls-list">
		  <li class="blogrolls-list-item">
		  	<a href="http://itmyhome.com/" title="麦田技术博客">麦田技术博客</a> -- <span>Life of peace.</span>
		  </li>
		  <li class="blogrolls-list-item">
		  	<a href="http://fyibmsd.com/" title="麦田技术博客">fyibmsd</a> -- <span>汀雨博客</span>
		  </li>
		</ul>
		<h2 class="blogrolls-title">Acmer</h2>
		<ul class="blogrolls-list">
		  <li class="blogrolls-list-item">
		  	<a href="http://koko.gitcafe.io/" title="Zmant">Zmant</a> -- <span>兴之所至，趣之所向</span>
		  </li>
		</ul>
  </div>
</section>

<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
  <div id="disqus_thread">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
    <!-- UY END -->
	</div>
</section>