<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">
		<div class="blogrolls-exchange">
            <h2>Welcome</h1>
            <p>交换友链请留言。交换成功后请加微信lakerHQ，交个朋友~(￣▽￣)~</p>
            <br>
			<p>Format: name, link, introduce, category.</p>
			<p>格式： 名称，链接，简介，类别</p>
            <br>
			<p>Example: Laker'blog, http://laker.me/blog/, Code the world, Front-end</p>
			<p>举例：江小湖Laker, http://laker.me/blog/, 进击的程序媛, 前端</p>
		</div>

		<!-- Front-End -->
		<h2 class="blogrolls-title">Front-End</h2>
		<ul class="blogrolls-list">
			<li class="blogrolls-list-item">
				<a href="http://www.cnblogs.com/younglaker/" title="我的老博客" target="_blank">我的老博客</a> -- <span>大学时期的学习和心路历程.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://heeroluo.net/" title="Heeroluo" target="_blank" >Heeroluo</a> -- <span>Heeroluo' blog.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://blog.seoui.com" title="笑松小站" target="_blank" >笑松</a> -- <span>笑松小站.</span>
			</li>
		</ul>
		<!-- /Front-End -->

		<!-- IOS -->
		<h2 class="blogrolls-title">IOS</h2>
		<ul class="blogrolls-list">
			<li class="blogrolls-list-item">
				<a href="http://blog.mexiqq.com" title="Mexi  target="_blank" 十四">Mexi 十四</a> -- <span>MexiQQ's World.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://blog.callmewhy.com/" title="CallMeWhy" target="_blank" >CallMeWhy</a> -- <span>汪海的实验室.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://www.eyrefree.org/" title="荏苒。" target="_blank" >荏苒。</a> -- <span>Not all those who wander are lost.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://phaibin.tk" title="海神" target="_blank" >海神</a> -- <span>Phaibin's Blog</span>
			</li>
		</ul>
		<!-- /IOS -->

		<!-- Back-End -->
		<h2 class="blogrolls-title">Back-End</h2>
		<ul class="blogrolls-list">
			<li class="blogrolls-list-item">
				<a href="http://itmyhome.com/" title="麦田技术博客" target="_blank" >麦田技术博客</a> -- <span>Life of peace.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://liujiacai.net" title="刘家财" target="_blank" >刘家财</a> -- Keep Writing Codes，Lisp、Python、Node.js、FP、Java、Algorithm.<span></span>
			</li>
			<li class="blogrolls-list-item">
				<a href="https://longxianwen.net/" title="龙显文" target="_blank" >龙显文</a> -- laravel、drupal、linux.<span></span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://2x.io" title="Chuanwu" target="_blank" >Chuanwu</a> -- <span>Chuanwu' blog</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="https://www.kawabangga.com" title="卡瓦邦噶" target="_blank" >卡瓦邦噶</a> -- <span>无法自制的人得不到自由</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="https://www.cxiansheng.cn/" title="命中水" target="_blank" >命中水</a> -- <span>Phper</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="https://iyaozhen.com/" title="yaozhen" target="_blank" >yaozhen</a> -- <span>西二旗码农姚</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="https://blog.hudong51.cn" title="Code life" target="_blank" >Code life 博客</a> -- <span>一个聚有每个人至少3年编程经验的研发团队</span>
			</li>
		</ul>
		<!-- /Back-End -->

  </div>
</section>

<section id="comment">
  <h1 class="title"><%= __('评论组件不稳定，有事请联系 V信 lakerHQ (请备注来自博客)') %></h1>
  <b style="color:#f00">被提示 “ 请文明发言 ” 的请把 “ http ” 去掉。</b>
  <div id="disqus_thread">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
    <!-- UY END -->
	</div>
</section>