<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">
		<div class="blogrolls-exchange">
            <h2>Welcome</h1>
            <p>交换友链请留言。交换成功后请加微信younglaker8，交个朋友~(￣▽￣)~</p>
            <br>
			<p>Format: name, link, introduce, category.</p>
			<p>格式： 名称，链接，简介，类别</p>
            <br>
			<p>Example: Laker'blog, http://laker.me/blog/, Code the world, Front-end</p>
			<p>举例：江小湖Laker, http://laker.me/blog/, 进击的程序媛, 前端</p>
		</div>
		<h2 class="blogrolls-title">Front-End</h2>
		<ul class="blogrolls-list">
			<li class="blogrolls-list-item">
				<a href="http://www.cnblogs.com/younglaker/" title= target="_blank" "我的老博客">我的老博客</a> -- <span>大学时期的学习和心路历程.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://heeroluo.net/" title="Heeroluo" target="_blank" >Heeroluo</a> -- <span>Heeroluo' blog.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://blog.seoui.com" title="笑松小站" target="_blank" >笑松</a> -- <span>笑松小站.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://www.atwop.com/" title="Atwop" target="_blank" >Atwop</a> -- <span> 分享实用的代码.</span>
			</li>
		</ul>
		<h2 class="blogrolls-title">IOS</h2>
		<ul class="blogrolls-list">
			<li class="blogrolls-list-item">
				<a href="http://blog.mexiqq.com" title="Mexi  target="_blank" 十四">Mexi 十四</a> -- <span>MexiQQ's World.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="isajenko.github.io" title="Jenko" target="_blank" >Jenko</a> -- <span>北漂中.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://blog.callmewhy.com/" title="CallMeWhy" target="_blank" >CallMeWhy</a> -- <span>汪海的实验室.</span>
			</li>
		</ul>
		<h2 class="blogrolls-title">Back-End</h2>
		<ul class="blogrolls-list">
			<li class="blogrolls-list-item">
				<a href="http://itmyhome.com/" title="麦田技术博客" target="_blank" >麦田技术博客</a> -- <span>Life of peace.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://fyibmsd.com/" title="麦田技术博客" target="_blank" >fyibmsd</a> -- <span>汀雨博客.</span>
			</li>
			<li class="blogrolls-list-item">
				<a href="http://www.circleblog.net" title="圈里圈外" target="_blank" >圈里圈外</a> -- 生活不只是眼前的苟且.<span></span>
			</li>
		</ul>
		<h2 class="blogrolls-title">Acmer</h2>
		<ul class="blogrolls-list">
			<li class="blogrolls-list-item">
				<a href="http://koko.gitcafe.io/" title="Zmant" target="_blank" >Zmant</a> -- <span>兴之所至，趣之所向.</span>
			</li>
		</ul>
  </div>
</section>

<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
  <div id="disqus_thread">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
    <!-- UY END -->
	</div>
</section>