<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">

	<div class="block_web">
	  	<h2 class="project-type">Web</h2>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113022.png" alt="Pixeler"></span>
			<div class="content">
				<h2><a href="http://laker.me/pixeler/" alt="Pixeler">Pixeler</a></h2>
				<p><2015.8——至今>（个人）</p>
				<p>【HTML5, JavaScript】</p>
				<p>设计像素图片（拼豆）的应用。</p>
				<p>主要用到HTML 5 Canvas，主要功能有：绘制/删除像素点、更换像素颜色/形状、自定义画布。技术难点是像素点的定位和计算。还在持续完善。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113210.png" alt="乐活"></span>
			<div class="content">
				<h2><a href="http://act.stuzone.com/" alt="乐活">乐活</a></h2>
				<p><2013.8>（两人合作）</p>
				<p>【Bootstrap, PHP, JavaScript】</p>
				<p>为中南民大服务的活动分享网站。</p>
				<p>我主要负责产品设计、页面编写、JavaScript交互、用Ajax对接前后端数据。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113243.png" alt="猜数字游戏"></span>
			<div class="content">
				<h2><a href="http://laker.me/Guessing_number/" alt="猜数字游戏">猜数字游戏</a></h2>
				<p><2012.8>（个人）</p>
				<p>【jQuery】</p>
				<p>大二写的一个的小游戏。</p>
			</div>
		</article>
	</div>

	<div class="block_library">
	 	<h2 class="project-type">Library</h2>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229112337.png" alt="EasyCanvas"></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/EasyCanvas" alt="EasyCanvas">EasyCanvas</a></h2>
				<p><2015.11——至今>（个人）</p>
				<p>【HTML5, JavaScript】</p>
				<p>Canvas 绘图库</p>
				<p>原生JavaScript，不依赖其他库，主要功能：绘制线条、矩形、正方形、弧线、曲线、圆、文字等。比其他Canvas库更方便连续绘图。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113050.png" alt=""></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/octjs" alt="OctJs">OctJs</a></h2>
				<p><2013.10——至今>（个人）</p>
				<p>【JavaScript】</p>
				<p>仿jquery链式结构的JavaScript框架。</p>
				<p>基本功能：选择器、修改/获取样式、检测浏览器、事件绑定、Ajax等。还在持续完善。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113119.png" alt="H5-Media"></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/H5-Media" alt="H5-Media">H5-Media</a></h2>
				<p><2013.09>（个人）</p>
				<p>【HTML5, CoffeeScript】</p>
				<p>通过浏览器调用摄像头的插件。</p>
				<p>可用于拍照、录视频。用到HTML 5调用摄像头的功能。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113140.png" alt="Escort-form-validation"></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/Escort-form-validation" alt="Escort-form-validation">Escort-form-validation</a></h2>
				<p><2013.09>（个人）</p>
				<p>【CoffeeScript, jQuery, Bootstrap】</p>
				<p>Bootstrap2/3的表单检测插件。</p>
				<p>可检测必填项、数字、最大值、最小值、最大长度、最小长度、邮箱、匹配另一输入框值和自定义正则。</p>
			</div>
		</article>
	</div>

</section>

<section id="comment">
	<h1 class="title"><%= __('comment') %></h1>
	<div id="disqus_thread">
	    <!-- UY BEGIN -->
	    <div id="uyan_frame"></div>
	    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
	    <!-- UY END -->
	</div>
</section>