<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">

  	<h2 class="project-type">Web</h2>

	<article class="feature">
		<span class="image"><img src="http://templated.co/items/demos/retrospect/images/pic01.jpg" alt=""></span>
		<div class="content">
			<h2>Pixeler</h2>
			<p><2015.8>（独立完成）</p>
			<p>设计像素图片（拼豆）的应用。</p>
			<p>【HTML5，JS】主要用到HTML 5 canvas，技术难点是棋子的定位和计算。</p>
			<div class="actions">
				<a href="#" class="button">Details</a>
			</div>
		</div>
	</article>

  	<h2 class="project-type">Framework</h2>

</section>

<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
  <div id="disqus_thread">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
    <!-- UY END -->
	</div>
</section>