<section class="layout-wrap">
  <!-- <div class="layout-title">
    <span><%= page.title %></span>
  </div>
 -->
 	<div class="layout-wrap-inner">
		 <div class="project-title-box">
		 	<h1 class="project-title">做的一些业余项目</h1>
		  	<!-- <h1 class="project-title">【<a href="http://laker.me/JSON-Workshop/" alt="EasyCanvas" target="_blank">JSON Workshop</a>工作室承接各类外包】</h1> -->
		 </div>


		<div class="block_library">


			<article class="feature">
				<span class="image"><img src="https://wx4.sinaimg.cn/large/6d184cefly1fyea8vqscgj20nc0c8whr.jpg" alt="Pixeler"></span>
				<div class="content">
					<h2><a href="http://laker.me/pixeler/" alt="Pixeler" target="_blank">WeGo 活动行</a></h2>
					<p>微信小程序，活动平台</p>
					<p><2018.11>（数据库开发、前端开发）</p>
					<p>【WXML, WXSS, JavaScript】</p>
					<p>使用 MySQL 开发数据库，负责数据表的设计。使用小程序 MVVM 模式开发，实现活动广场、活动详情、发布活动、个人中心。利用2天熟悉开发流程，2周边查资料边实现。</p>
				</div>
			</article>

			<article class="feature">
				<span class="image"><img src="https://ws4.sinaimg.cn/large/6d184cefly1fye8er4vosj20nc0c87bm.jpg" alt="Pixeler"></span>
				<div class="content">
					<h2><a href="http://laker.me/pixeler/" alt="Pixeler" target="_blank">Pixeler</a></h2>
					<p>设计像素图片（拼豆）的应用。</p>
					<p><2018.4>（个人）</p>
					<p>【HTML5, JavaScript】</p>
					<p>用自己写的 Canvas 绘图库 <a href="https://github.com/younglaker/EasyCanvas" alt="EasyCanvas" target="_blank">EasyCanvas</a> 完成绘图功能。绘制原理是在五子棋的定位算法上优化而成。实现绘制、删除像素点，更换像素颜色、形状等功能。</p>
				</div>
			</article>

			<article class="feature">
				<span class="image"><img src="https://ws4.sinaimg.cn/large/6d184cefly1fye88w5djfj20nc0c8ad0.jpg" alt="EasyCanvas"></span>
				<div class="content">
					<h2><a href="https://github.com/younglaker/EasyCanvas" alt="EasyCanvas" target="_blank">EasyCanvas</a></h2>
					<p>Canvas 绘图库。</p>
					<p><2018.04>（个人）</p>
					<p>【HTML5, JavaScript】</p>
					<p>使用原生JavaScript开发。能实现绘制线条、矩形、正方形、弧线、曲线、圆、文字等绘图功能。尝试过多种连续绘图的方案，最后仿照jQuery链式结构，实现比其他绘图库更方便连续绘图。编写了完整的开发文档。</p>
				</div>
			</article>

			<article class="feature">
				<span class="image"><img src="https://wx1.sinaimg.cn/large/6d184cefly1fyea2jt0ptj20nc0c87c2.jpg" alt="Lomo"></span>
				<div class="content">
					<h2><a href="http://www.lomocoin.com/" alt="Pixeler" target="_blank">邻萌宝（微信版）</a></h2>
					<p>内置数字货币系统的实景地图寻宝游戏</p>
					<p><2016.3>（外包）</p>
					<p>【HTML5，LESS，JavaScript，Framework 7，腾讯地图】</p>
					<p>负责游戏的页面布局和动画交互。完成寻宝过程中发布宝藏、获取宝藏、位置检测、方向指示等算法难题。克服移动端调试问题，先用微信开发者工具调试，完成稳定版本后再通过局域网用手机连接电脑的服务器环境进行真机调试。</p>
				</div>
			</article>

			<article class="feature">
				<span class="image"><img src="https://wx2.sinaimg.cn/large/6d184cefly1fye8g58sdmj20nc0c878x.jpg" alt=""></span>
				<div class="content">
					<h2><a href="https://github.com/younglaker/octjs" alt="OctJs" target="_blank">OctJs</a></h2>
					<p>仿jquery链式结构的JavaScript框架。</p>
					<p><2015.11>（个人）</p>
					<p>【JavaScript】</p>
					<p>研究jQuery时仿照其链式结构写的JavaScript框架，实现了jQuery的基本功能，如：选择器、修改样式、事件绑定、Ajax等，并编写了完整的使用手册。</p>
				</div>
			</article>

			<article class="feature">
				<span class="image"><img src="https://ws4.sinaimg.cn/large/6d184cefly1fye8h6hn92j20nc0c8jv3.jpg" alt="H5-Media"></span>
				<div class="content">
					<h2><a href="https://github.com/younglaker/H5-Media" alt="H5-Media" target="_blank">H5-Media</a></h2>
					<p>通过浏览器调用摄像头的插件。</p>
					<p><2013.09>（个人）</p>
					<p>【HTML5, CoffeeScript】</p>
					<p>可用于拍照、录视频。用到HTML 5调用摄像头的功能。</p>
				</div>
			</article>

			<article class="feature">
				<span class="image"><img src="https://ws2.sinaimg.cn/large/6d184cefly1fye8i6ktd3j20nc0c8ad1.jpg" alt="Escort-form-validation"></span>
				<div class="content">
					<h2><a href="https://github.com/younglaker/Escort-form-validation" alt="Escort-form-validation" target="_blank">Escort-form-validation</a></h2>
					<p>Bootstrap2/3的表单检测插件。</p>
					<p><2013.09>（个人）</p>
					<p>【CoffeeScript, jQuery, Bootstrap】</p>
					<p>可检测必填项、数字、最大值、最小值、最大长度、最小长度、邮箱、匹配另一输入框值和自定义正则。</p>
				</div>
			</article>


			<article class="feature">
				<span class="image"><img src="https://ws3.sinaimg.cn/large/6d184cefly1fye8hulszpj20nc0c8q8n.jpg" alt="乐活"></span>
				<div class="content">
					<h2><a href="http://act.stuzone.com/" alt="乐活" target="_blank">乐活</a></h2>
					<p>为中南民大服务的活动分享网站。</p>
					<p><2013.8>（两人合作）</p>
					<p>【Bootstrap, PHP, JavaScript】</p>
					<p>我主要负责产品设计、页面编写、JavaScript交互、用Ajax对接前后端数据。</p>
				</div>
			</article>

			<article class="feature">
				<span class="image"><img src="https://ws1.sinaimg.cn/large/6d184cefly1fye8f7e4n5j20nc0c841z.jpg" alt="猜数字游戏"></span>
				<div class="content">
					<h2><a href="http://laker.me/Guessing_number/" alt="猜数字游戏" target="_blank">猜数字游戏</a></h2>
					<p>大二写的一个的小游戏。</p>
					<p><2012.8>（个人）</p>
					<p>【jQuery】</p>
					<p>系统随机出了一个四位数，供玩家猜。玩家输入数字后返回数字及其位置的对错情况，供玩家推理。有计次和计时两种模式。</p>
				</div>
			</article>
		</div>

	</div>

</section>

<section id="comment">
	<h1 class="title"><%= __('评论组件不稳定，有事请联系V信 lakerHQ (请备注来自博客)') %></h1>
	<div id="disqus_thread">
	    <!-- UY BEGIN -->
	    <div id="uyan_frame"></div>
	    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
	    <!-- UY END -->
	</div>
</section>