<section class="layout-wrap">
  <div class="layout-title">
    <span><%= page.title %></span>
  </div>
  <div class="layout-wrap-inner">
  	<h1 class="project-title">记录从学习编程起做的一些业余项目</h1>
  	<h1 class="project-title">【<a href="http://laker.me/JSON-Workshop/" alt="EasyCanvas" target="_blank">JSON Workshop</a>工作室承接各类外包】</h1>

	<div class="block_library">
	 	<h2 class="project-type">Library</h2>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229112337.png" alt="EasyCanvas"></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/EasyCanvas" alt="EasyCanvas" target="_blank">EasyCanvas</a></h2>
				<p>Canvas 绘图库。</p>
				<p><2016.01>（个人）</p>
				<p>【HTML5, JavaScript】</p>
				<p>原生JavaScript，不依赖其他库，主要功能：绘制线条、矩形、正方形、弧线、曲线、圆、文字等。比其他Canvas库更方便连续绘图。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113050.png" alt=""></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/octjs" alt="OctJs" target="_blank">OctJs</a></h2>
				<p>仿jquery链式结构的JavaScript框架。</p>
				<p><2015.11>（个人）</p>
				<p>【JavaScript】</p>
				<p>基本功能：选择器、修改/获取样式、检测浏览器、事件绑定、Ajax等。还在持续完善。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113119.png" alt="H5-Media"></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/H5-Media" alt="H5-Media" target="_blank">H5-Media</a></h2>
				<p>通过浏览器调用摄像头的插件。</p>
				<p><2013.09>（个人）</p>
				<p>【HTML5, CoffeeScript】</p>
				<p>可用于拍照、录视频。用到HTML 5调用摄像头的功能。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113140.png" alt="Escort-form-validation"></span>
			<div class="content">
				<h2><a href="https://github.com/younglaker/Escort-form-validation" alt="Escort-form-validation" target="_blank">Escort-form-validation</a></h2>
				<p>Bootstrap2/3的表单检测插件。</p>
				<p><2013.09>（个人）</p>
				<p>【CoffeeScript, jQuery, Bootstrap】</p>
				<p>可检测必填项、数字、最大值、最小值、最大长度、最小长度、邮箱、匹配另一输入框值和自定义正则。</p>
			</div>
		</article>
	</div>

	<div class="block_mobile">
	  	<h2 class="project-type">Mobile</h2>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20160428113050.jpg" alt="Lomo"></span>
			<div class="content">
				<h2><a href="http://www.lomocoin.com/" alt="Pixeler" target="_blank">邻萌宝（微信版）</a></h2>
				<p>内置数字货币系统的实景地图寻宝游戏</p>
				<p><2016.3>（外包）</p>
				<p>【HTML5，LESS，JavaScript，Framework 7，腾讯地图】</p>
				<p>负责游戏的页面和JavaScript交互。采用 Framework 7 移动框架。主要功能有聊天、地图开发、商品交易等。寻宝过程有大量地图的开发，涉及检测宝藏位置、指示标记、获取/发布宝藏的算法。</p>
			</div>
		</article>
	</div>

	<div class="block_web">
	  	<h2 class="project-type">Web</h2>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113022.png" alt="Pixeler"></span>
			<div class="content">
				<h2><a href="http://laker.me/pixeler/" alt="Pixeler" target="_blank">Pixeler</a></h2>
				<p>设计像素图片（拼豆）的应用。</p>
				<p><2016.5>（个人）</p>
				<p>【HTML5, JavaScript】</p>
				<p>主要用到HTML 5 Canvas，主要功能有：绘制/删除像素点、更换像素颜色/形状、自定义画布。技术难点是像素点的定位和计算。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113210.png" alt="乐活"></span>
			<div class="content">
				<h2><a href="http://act.stuzone.com/" alt="乐活" target="_blank">乐活</a></h2>
				<p>为中南民大服务的活动分享网站。</p>
				<p><2013.8>（两人合作）</p>
				<p>【Bootstrap, PHP, JavaScript】</p>
				<p>我主要负责产品设计、页面编写、JavaScript交互、用Ajax对接前后端数据。</p>
			</div>
		</article>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20151229113243.png" alt="猜数字游戏"></span>
			<div class="content">
				<h2><a href="http://laker.me/Guessing_number/" alt="猜数字游戏" target="_blank">猜数字游戏</a></h2>
				<p>大二写的一个的小游戏。</p>
				<p><2012.8>（个人）</p>
				<p>【jQuery】</p>
				<p>系统随机出了一个四位数，供玩家猜。玩家输入数字后返回数字及其位置的对错情况，供玩家推理。有计次和计时两种模式。</p>
			</div>
		</article>
	</div>

	<!-- <div class="block_library">
	 	<h2 class="project-type">Medium</h2>

		<article class="feature">
			<span class="image"><img src="http://77g54f.com1.z0.glb.clouddn.com/blog20170425113022.png" alt="图饭"></span>
			<div class="content">
				<h2><a href="https://mp.weixin.qq.com/s/Y_gsRCtmJ9rNM8Qmfz7VLQ" alt="EasyCanvas" target="_blank">图饭</a></h2>
				<p>微信公众号</p>
				<p><2016.02-至今>（个人）</p>
				<p>( ͡° ͜ʖ ͡°)// 用长图，讲述有味道的故事，与你我有关的故事。挖掘影视片里的精简片段，以小见大，笑过之后会深思。非盈利，记录观剧心得。</p>
				<p>我有故事，你有酒吗？</p>
			</div>
		</article>
	</div> -->

</section>

<section id="comment">
	<h1 class="title"><%= __('comment') %></h1>
	<div id="disqus_thread">
	    <!-- UY BEGIN -->
	    <div id="uyan_frame"></div>
	    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
	    <!-- UY END -->
	</div>
</section>